header {
  padding: 30px;
  background-color: #B71C1C;
  background-size:cover;
  background-attachment:fixed;
  background-image: url('https://images.unsplash.com/photo-1526304640581-d334cdbbf45e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60');
  background-position:center;
  height:100%;
}

main {
  display: grid;
  grid-template-areas:
    'aside article article'
    'aside footer footer';
  grid-gap: 30px;
}

aside {
  grid-area: aside;
  background: #F94A4A;
}

article {
  grid-area: article;
  background: #FFCCCC;
}

footer {
  grid-area: footer;
  background: #3D0000;
  color: white
}
